<h2>What follows is Part 1 of 3 parts:</h2>

<h4 style="color: red;">Install libraries and set options</h4>

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<h4 style="color: red;">Open the html page</h4>

In [28]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

<h4 style="color: red;">Spill BeautifulSoup on the html</h4>

In [29]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

<h4 style="color: red;">Find all table rows</h4>

In [30]:
rows = soup.find_all('tr')

<h4 style="color: red;">Load the table rows into a list</h4>

In [31]:
list_rows = []

for row in rows:
    row_td = row.find_all('td')
    str_cells = str(row_td)
    cleantext = BeautifulSoup(str_cells, "lxml").get_text()
    list_rows.append(cleantext)

<h4 style="color: red;">Create a dataframe from the list</h4>

In [32]:
df = pd.DataFrame(list_rows)
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6    [M6A, North York, Lawrence Heights\n]
7      [M6A, North York, Lawrence Manor\n]
8  [M7A, Downtown Toronto, Queen's Park\n]
9      [M8A, Not assigned, Not assigned\n]

<h4 style="color: red;">Separate the list items delimited by ','</h4>

In [33]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,[M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,[M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,[M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,[M7A,Downtown Toronto,Queen's Park\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,[M8A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Delete the brackets and newline characters from the data</h4>

In [35]:
df1[0] = df1[0].str.strip('[')
df1[0] = df1[0].str.strip(']')
df1[2] = df1[2].str.strip('\n]')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Find the column headers</h4>

In [36]:
col_labels = soup.find_all('th')

<h4 style="color: red;">Load the headers into a list</h4>

In [37]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)

<h4 style="color: red;">Create a dataframe from the list of headers</h4>

In [38]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Postcode, Borough, Neighbourhood\n, Canadian ...

<h4 style="color: red;">Separate the list items delimited by ','</h4>

In [39]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

           0         1                 2                          3
0  [Postcode   Borough   Neighbourhood\n   Canadian postal codes\n]

<h4 style="color: red;">Delete the brackets and newline characters from the data</h4>

In [44]:
df3[0] = df3[0].str.strip('[')
df3[3] = df3[3].str.strip('\n]')
df3.head()

          0         1               2                       3
0  Postcode   Borough   Neighbourhood   Canadian postal codes

<h4 style="color: red;">Merge the headers and data into a single dataframe</h4>

In [45]:
frames = [df3, df1]
df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Make the first row column headers</h4>

In [46]:
df5 = df4.rename(columns = df4.iloc[0])
df5.head(10)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Delete the first row</h4>

In [93]:
df6 = df5.drop(df5.index[0])
df6.head(10)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
10,M9A,Queen's Park,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Drop surplus columns</h4>

In [94]:
df6.drop(df6.columns[3:30], axis = 1, inplace=True)
df6.head(10)

   Postcode            Borough      Neighbourhood
1       M1A       Not assigned       Not assigned
2       M2A       Not assigned       Not assigned
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
9       M8A       Not assigned       Not assigned
10      M9A       Queen's Park       Not assigned

<h4 style="color: red;">Delete rows where Borough = 'Not assigned'</h4>

In [95]:
indexNames = df6[df6[' Borough'] == " Not assigned"].index
df6.drop(indexNames , inplace=True,)
df6.head(10)

   Postcode            Borough      Neighbourhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Not assigned
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Rename Neighbourhood columns for US spelling and leading space</h4>

In [96]:
df6.rename(columns={' Neighbourhood': 'Neighborhood'}, inplace=True)
df6.rename(columns={' Borough': 'Borough'}, inplace=True)
df6.head(10)

   Postcode            Borough       Neighborhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Not assigned
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Where Neighbourhood is Not assigned, use the Borough assignment value</h4>

In [98]:
def assign_neighborhood(row):
    if row['Neighborhood'] == ' Not assigned':
        return row['Borough']
    else:
        return row['Neighborhood']

df6['Neighborhood'] = df6.apply(assign_neighborhood, axis=1)
df6.head(10)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Postcode            Borough       Neighborhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Queen's Park
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Final cleanup. 5 rows of trash that slipped through</h4>

In [100]:
df7 = df6.drop([df6.index[210] , df6.index[211] , df6.index[212] , df6.index[213] , df6.index[214]])
df7.shape

(210, 3)

In [152]:
dfToronto = df7.groupby(['Postcode','Borough'], as_index=False).agg(lambda x: ','.join(x))

(103, 3)

<h4 style="color: red;">Show the final shape of the dataframe</h4>

In [153]:
dfToronto.shape

(103, 3)

<h2>What follows is Part 2 of 3 parts:</h2>

<h2>What follows is Part 3 of 3 parts:</h2>