<h2>What follows is Part 1 of 3 parts:</h2>

<h4 style="color: red;">Install libraries and set options</h4>

In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<h4 style="color: red;">Open the html page</h4>

In [262]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

<h4 style="color: red;">Spill BeautifulSoup on the html</h4>

In [263]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

<h4 style="color: red;">Find all table rows</h4>

In [264]:
rows = soup.find_all('tr')

<h4 style="color: red;">Load the table rows into a list</h4>

In [265]:
list_rows = []

for row in rows:
    row_td = row.find_all('td')
    str_cells = str(row_td)
    cleantext = BeautifulSoup(str_cells, "lxml").get_text()
    list_rows.append(cleantext)

<h4 style="color: red;">Create a dataframe from the list</h4>

In [266]:
df = pd.DataFrame(list_rows)
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6    [M6A, North York, Lawrence Heights\n]
7      [M6A, North York, Lawrence Manor\n]
8  [M7A, Downtown Toronto, Queen's Park\n]
9      [M8A, Not assigned, Not assigned\n]

<h4 style="color: red;">Separate the list items delimited by ','</h4>

In [267]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,[M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,[M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,[M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,[M7A,Downtown Toronto,Queen's Park\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,[M8A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Delete the brackets and newline characters from the data</h4>

In [268]:
df1[0] = df1[0].str.strip('[')
df1[0] = df1[0].str.strip(']')
df1[2] = df1[2].str.strip('\n]')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Find the column headers</h4>

In [269]:
col_labels = soup.find_all('th')

<h4 style="color: red;">Load the headers into a list</h4>

In [270]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)

<h4 style="color: red;">Create a dataframe from the list of headers</h4>

In [271]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Postcode, Borough, Neighbourhood\n, Canadian ...

<h4 style="color: red;">Separate the list items delimited by ','</h4>

In [272]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

           0         1                 2                          3
0  [Postcode   Borough   Neighbourhood\n   Canadian postal codes\n]

<h4 style="color: red;">Delete the brackets and newline characters from the data</h4>

In [305]:
df3[0] = df3[0].str.strip('[')
df3[2] = df3[2].str.strip('\n')
df3[3] = df3[3].str.strip('\n]')
df3.head()

          0         1               2                       3
0  Postcode   Borough   Neighbourhood   Canadian postal codes

<h4 style="color: red;">Merge the headers and data into a single dataframe</h4>

In [306]:
frames = [df3, df1]
df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Make the first row column headers</h4>

In [307]:
df5 = df4.rename(columns = df4.iloc[0])
df5.head(10)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,Postcode,Borough,Neighbourhood,Canadian postal codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Delete the first row</h4>

In [308]:
df6 = df5.drop(df5.index[0])
df6.head(10)

,Postcode,Borough,Neighbourhood,Canadian postal codes,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Heights,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Manor,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,M7A,Downtown Toronto,Queen's Park,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
10,M9A,Queen's Park,Not assigned,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

<h4 style="color: red;">Drop surplus columns</h4>

In [309]:
df6.drop(df6.columns[3:30], axis = 1, inplace=True)
df6.head(10)

   Postcode            Borough      Neighbourhood
1       M1A       Not assigned       Not assigned
2       M2A       Not assigned       Not assigned
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
9       M8A       Not assigned       Not assigned
10      M9A       Queen's Park       Not assigned

<h4 style="color: red;">Delete rows where Borough = 'Not assigned'</h4>

In [310]:
indexNames = df6[df6[' Borough'] == " Not assigned"].index
df6.drop(indexNames , inplace=True,)
df6.head(10)

   Postcode            Borough      Neighbourhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Not assigned
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Rename Neighbourhood columns for US spelling and leading space</h4>

In [314]:
df6.rename(columns={' Neighbourhood': 'Neighborhood'}, inplace=True)
df6.head(10)

   Postcode            Borough       Neighborhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Not assigned
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Where Neighbourhood is Not assigned, use the Borough assignment value</h4>

In [317]:
def assign_neighborhood(row):
    if row['Neighborhood'] == ' Not assigned':
        return row['Borough']
    else:
        return row['Neighborhood']

df6['Neighborhood'] = df6.apply(assign_neighborhood, axis=1)
df6.head(10)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Postcode            Borough       Neighborhood
3       M3A         North York          Parkwoods
4       M4A         North York   Victoria Village
5       M5A   Downtown Toronto       Harbourfront
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A   Downtown Toronto       Queen's Park
10      M9A       Queen's Park       Queen's Park
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North

<h4 style="color: red;">Final cleanup. 5 rows of trash that slipped through</h4>

In [318]:
df7 = df6.drop([df6.index[210] , df6.index[211] , df6.index[212] , df6.index[213] , df6.index[214]])
df7.shape

(210, 3)

In [319]:
dfToronto = df7.groupby(['Postcode','Borough'], as_index=False).agg(lambda x: ','.join(x))

<h4 style="color: red;">Show the final shape of the dataframe</h4>

In [320]:
dfToronto.shape

(103, 3)

<h2>What follows is Part 2 of 3 parts:</h2>

<h4 style="color: red;">Create a DataFrame with the coordinate data</h4>

In [321]:
dfCoordinates = pd.read_csv("http://cocl.us/Geospatial_data")
dfCoordinates.shape

(103, 3)

<h4 style="color: red;">Append Latitude and Longitude columns to the DataFrame</h4>

In [322]:
dfToronto = pd.concat([dfToronto, pd.DataFrame([[0.0, 0.0]], index=dfToronto.index, columns=['Latitude', 'Longitude'])], axis=1)
dfToronto.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",0.0,0.0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",0.0,0.0
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",0.0,0.0
3,M1G,Scarborough,Woburn,0.0,0.0
4,M1H,Scarborough,Cedarbrae,0.0,0.0

<h4 style="color: red;">Load the Latitude and Longitude columns with values from the coordinates DataFrame that match on Postcode</h4>

In [323]:
i = 0
j = 0
for i in dfToronto.index:
    for j in dfCoordinates.index:
        if dfToronto.iloc[i, 0] == dfCoordinates.iloc[j, 0]:
            dfToronto.iloc[i, 3] = dfCoordinates.iloc[j, 1]
            dfToronto.iloc[i, 4] = dfCoordinates.iloc[j, 2]
            
dfToronto.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

<h2>What follows is Part 3 of 3 parts:</h2>

<h4 style="color: red;">Install more libraries</h4>

In [324]:
import requests # library to handle requests
import random # library for random number generation

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-4.0.1               |             py_0         575 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following NEW packages will be INSTALLED:

    altair:          4.0.1-py_0        conda-forge
    branca:          0.3.1-py_0        conda-forge
    folium:          0.5.0-py_0        conda-forge
    vincent:         0.4.4-py_1        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
branca-0.3.1         | 25 KB     | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-4.0.1         | 575 KB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Folium installed
Libraries imported.

<h4 style="color: red;">FourSquare creds</h4>

In [325]:
CLIENT_ID = 'G3DDAPR0UTRHTRNCHGGIJSBHLA0FRGQ1UCPELALLXG34MLZL' # your Foursquare ID
CLIENT_SECRET = 'KP4311DRJ350XDHABGWNO1PQMCI1JQXV1HYVBV3BJ2FYY1YA' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: G3DDAPR0UTRHTRNCHGGIJSBHLA0FRGQ1UCPELALLXG34MLZL
CLIENT_SECRET:KP4311DRJ350XDHABGWNO1PQMCI1JQXV1HYVBV3BJ2FYY1YA

<h4 style="color: red;">Pick a random Toronto hood</h4>

In [340]:
latitude = 43.806686
longitude = -79.194353
radius = 1000

<h4 style="color: red;">A map of the hood. Will come in handy if we ever have to call in an airstrike on Canada</h4>

In [339]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Drop Zone
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='Drop Zone',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# display map
venues_map

<h4 style="color: red;">Just look around. No agenda.</h4>

In [347]:
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
url
results = requests.get(url).json()